.app.dark{

    background-color:#222;
    color: rgb(221, 219, 219);

    .chartGrid{
        stroke: rgb(64, 51, 34);
    }
    .table{
        background-color: #111;
        .tableCell{
            color: white;
        }
    }
    .navbar{
        color: #999;
        border: #333;
        .search{
            border-color: orangered;
            color: rgba(255, 255, 255, 0.625);
            ::placeholder{
                color: rgba(255, 255, 255, 0.625);

            }
        }
      
    }
    .sidebar{
        background-color:  #111;
        border-color: #333;
        .top{
            .logo{
                color: orangered;
            }
        }
        hr{
           border-color:orangered
           
        }
        ul{
            li{
                &:hover{
                    background-color:#333 ;
                }
                .icon{
                    color: orangered ;
                }
                span{
                    font-size: 20px;
                    padding-top: 7px;
                    font-weight: 600;
                    color:rgba(255, 255, 255, 0.649);                    margin-left: 10px;
                }
            }
        }
    }
    .datatable{
        .datagrid{
            color:rgba(255, 255, 255, 0.649);
        }
        .link{
            color: aliceblue;
            text-decoration: none;
        }
        .viewButton .deleteButton .cellWithStatus{
            color:rgba(255, 255, 255, 0.649); 
        border: none;       }
    }
    input{
        background-color: transparent;
    }
    .wrapper{
        padding: 14px 30px;
        border-bottom: 3px double orangered;
        align-items: center;
        background-color: black;}
        .MuiButtonBase-root{
            color: white;
        }
}